.article-enter {
    max-height: 0;
}

.article-enter.article-enter-active {
    max-height: 500px;
    transition: all 0.5s;
    overflow: hidden;
}

.article-leave {
    max-height: 500px;
}

.article-leave.article-leave-active {
    max-height: 0;
    transition: all 0.3s;
    overflow: hidden;
}